{% load static %}
<!DOCTYPE html>
<html>
<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-144351462-1"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'UA-144351462-1');

    </script>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">

    {% if title %}
        <title>Instagram - {#{{ title }}#}</title>
    {% else %}
        <title>Instagram</title>
    {% endif %}

    <script>
      addEventListener("load", function () {
          setTimeout(hideURLbar, 0);
      }, false);

      function hideURLbar() {
          window.scrollTo(0, 1);
      }

  </script>
</head>

<body>
  <div class="overlay">
    <header class="site-header">
      <nav class="navbar navbar-expand-md navbar-dark" style="border-bottom: 1px solid #DFDFDF;">
        <div class="container">
            <span>
              <a class="navbar-brand text-dark ml-5" href="/">Instagram</a>
            </span>
            <div class="">
              <form class="navbar-form" role="search" action="{#{% url 'search' %}#}">
                <div class="input-group">
                  <input type="text" class="form-control" placeholder="Search" name="search_user">
                </div>
              </form>
            </div>
            <span>
              <a class="text-dark mr-3" href="{% url 'index' %}"><i class="fa fa-home fa-lg"></i></a>
              <a class="text-secondary mr-3" href="#"><i class="fa fa-plus-square fa-lg"></i></a>
              <a class="text-secondary mr-3" href="#"><i class="fa fa-compass fa-lg compass"></i></a>
              <a class="text-secondary mr-5" href="{% url 'profile' user.username %}" class="instaicon pers">
                <i class="fa fa-user-circle fa-lg prof"></i>
              </a>
            </span>
          </div>
        </div>
      </nav>
    </header>
    
    <div class="container">
      {% if messages %}
          {% for message in messages %}
              <div class="alert alert-{{ message.tags }}">
                {{message}}
              </div>
          {% endfor %}
      {% endif %}
      {% block content %}{%endblock%}
    </div>
      
    
      <!-- Optional JavaScript -->
      <!-- jQuery first, then Popper.js, then Bootstrap JS -->
      <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
      <script src="{% static '/js/main.js'%}"></script>
  </div>
  
</body>
</html>

</body>
</html>